<html>
  <head>
    <title>Login Form</title>
  </head>
  <body>
    <div class="container my-5">
      {% if messages %} 
      {% for message in messages %}
      <div
        class="alert {{ message.tags }} alert-dismissible fade show"
        role="alert"
      >
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          arialabel="Close"
        ></button>
      </div>
      {% endfor %} 
      {% endif %}
      <div class="card">
        <div class="card-header">Login</div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            <div class="form-outline mb-4">
              <label class="form-label">Username</label>
              <input type="text" name="username" class="form-control" />
            </div>
            <div class="form-outline mb-4">
              <label class="form-label">Password</label>
              <input type="password" name="password" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
